body{
    background-image: url("https://guic.cat/wp-content/uploads/whitepaper.jpg");
    font-family: 'NTR', sans-serif;
    font-size: 1.3rem;
}
.headersStyle{
    font-family: 'Pacifico', cursive;
    color: blueviolet;
}
.headerFont{
    font-size: 2rem;
    background-color: rgba(137, 43, 226, 0.472);
}
.fontSameStyle{
    font-family: 'NTR', sans-serif;

}
.mainBtn{
    margin-top: 5vh;
}
.card{
    margin-top: 5vh;
    display: inline-flex;
}