/* ========== General ========== */

body {
  background-image: linear-gradient(to right, rgba(0,125,246,0.31), #94ccd0);
}

/* ========== Main app ========== */

.app-input {
  background-color: rgba(230,230,230,0.60);
  border-radius: 20px;
  padding: 30px;
}

/* ========== Lists component ========== */

.lists-list {
  background-color: rgba(230,230,230,0.60);
  border-radius: 20px;
  padding: 30px;
}

.lists-list-item {
  overflow: auto;
  padding: 8px;
  margin: 0px;
}

.lists-list-number {
  display: inline-block;
  background-color: rgb(124, 147, 197);
  color: white;
  padding: 5px 12px 5px 12px;
  margin: 0 2px 0 0;
  border-radius: 50%;
}