.list-container{
    margin: auto;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    width: 70%;
}
.title-list-container{
    background: #f2f2f2;
    border-radius: 5px;
}

.title-list-content{
    text-align: center;
}

.item-list{
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
}

.item-action{
    width: 100%;
    display: flex;
    justify-content: space-between;
}