{
  "env": {
    "dev": {
      "presets": [
        ["env", {
          "modules": true
        }]
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}