$background-color: #eee;
$font-color: #666;
$primary-color: teal;
$primary-dark-color: darken($primary-color, 10%);
$primary-light-color: lighten($primary-color, 10%);

$secondary-color: #ffa000;
$secondary-dark-color: darken($secondary-color, 30%);
$secondary-light-color: lighten($secondary-color, 30%);

$white-color: #fff;
$font-label: #fff;