$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #3f6ad8;
$secondary: #6c757d;
$success: #3ac47d;
$info: #16aaff;
$warning: #f7b924;
$danger: #d92550;
$bg: #eee;
$dark: #343a40;
$focus: #444054;
$alternate: #794c8a;

$cell: 360px;
$tablet: 600px;
$desktop: 924px;
$desktop-hd: 1360px;
$desktop-hq: 2090px;
$desktop-3k: 2820px;
$desktop-4k: 4000px;

$font-family-sans-serif: sans-serif;
$font-family-roboto: "Roboto";

$light: 100;
$normal: 300;
$semibold: 500;
$bold: 700;

$font-size: 62.5%;
$zero: 0;

$b-box: border-box;
$max-width: 100vw;
$max-height: 100vh;
