 
$light: 100;
$normal: 300;
$semibold: 500;
$bold: 700;

$font-size: 62.5%;
$zero: 0;

$b-box: border-box;
$max-width: 100vw;
$max-heigth: 100vh;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);