

h1 {
  font-size: 3rem + 1.2;
  font-weight: $light;
  font-style: italic;
  line-height: 3.75rem + 1.2;
  letter-spacing: -0.046875rem;
}
h2 {
  font-size: 2.125rem + 1.2;
  font-weight: $light;
  font-style: normal;
  line-height: 3rem + 1.2;
  letter-spacing: -0.03125rem;
}
h3 {
  font-size: 1.5rem + 1.2;
  font-weight: $normal;
  font-style: normal;
  line-height: 2rem + 1.2;
  letter-spacing: 0;
}
h4 {
  font-size: 1.25rem + 1.2;
  font-weight: $bold;
  font-style: normal;
  line-height: 1.75rem + 1.2;
  letter-spacing: 0.009375rem;
}
h5 {
  font-size: 1rem + 1.2;
  font-weight: $bold;
  font-style: normal;
  line-height: 1.5rem + 1.2;
  letter-spacing: 0.009375rem;
}

h6 {
  font-size: 0.875rem + 1.2;
  font-weight: $bold;
  font-style: normal;
  line-height: 1.25rem + 1.2;
  letter-spacing: 0.009375rem;
}

p,
a,
span {
  font-size: 1.8rem;
  font-weight: $normal;
  font-style: normal;
  line-height: 1.25rem + 1.2;
  letter-spacing: 0.01875rem;
}

button {
  font-size: 0.875rem + 1.2;
  font-weight: $bold;
  font-style: normal;
  line-height: 1.25rem + 1.2;
  letter-spacing: 0.025rem;
}