 
.app-layout {
    box-sizing: $b-box;
    width: inherit;
    heigth: inherit;
    margin: $zero;
    background-color: white;
    padding: $zero;
    display: flex;
    flex-flow: row wrap;

    &-side-nav {
        flex: .2;
        width: 20%;
        background-color: $primary-light-color;
        color: $font-label;
        box-shadow: $shadow;
    }

    &-main {
        flex: .8;
        width: 80%;
        heigth: 100%;
    }

    &-header {
        flex: 1;
        padding: 2rem 1rem;
        background-color: $primary-color;
        color: $font-label;
        box-shadow: $shadow;
    }

    &-main__content {
        padding: 2rem;
    }
}