$margin_body: 0;
$padding_body: 0;
$font_family_body: sans-serif;
$background-color_body: #1F5770;

body{
	margin: $margin_body;
	padding: $padding_body;
	font-family: $font_family_body;
	background-color: $background-color_body; 
}


