<section class="row">
    <h5 class="col s9">{{tittle}}</h5>
</section>
<section>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s9">
                <input id="new_list" type="text" class="validate">
                <label for="new_list">Nueva Lista</label>
            </div>
            <div class="input-field col s2">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <article id="itemsList">
        <span></span>


    </article>

</section>