/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Mukta Malar', sans-serif;
}

/* Header - Nav */

nav#nav-bar {
    background-color: #363636;
    color: white;
    padding: 20px;
    margin-bottom: 2em;
}

h2 {
    float: left;
}

img.logo-favs {
    height: 15px;
    float: left;
}

li > a#about, li > a#contact {
    color: white;
}
