#login-container {
    padding: 50px;

    #login-view {
        padding: 50px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        background: #FFF;
        padding: 25px;
        border-radius: 10px;

    }
}